<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy1.example.mapper.BoardMapper">
	
	<!-- sql code 조각  -->
	<sql id="Search">
	<where>
		<if test="search != null and  search.type !=''">
			<if test="search.type == 1"> b_title LIKE CONCAT('%',#{search.keyword},'%')</if>
			<if test="search.type == 2">AND b_content LIKE CONCAT('%', #{search.keyword} ,'%')</if>
			<if test="search.type == 3">AND b_title LIKE CONCAT('%',#{search.keyword},'%') OR b_content LIKE CONCAT('%', #{search.keyword} ,'%')</if>
			<if test="search.type == 4">AND b_writer LIKE CONCAT('%' , #{search.keyword} ,'%')</if>
		</if>
	</where>
	</sql>

	<!--  Result Map 선언 -->
	
	<resultMap type="User" id="User">
			<result column="u_idx" property="uIdx"/>
			<result column="u_id" property="username"/>
			<result column="u_name" property="uName"/>
	</resultMap>
	
	<resultMap type="Board" id="boardResultMap">
		<result column="b_id" property="bId"/>
		<result column="b_title" property="bTitle"/>
		<result column="b_content" property="bContent"/>
		<result column="b_datetime" property="bDatetime"/>
		<result column="b_viewcount" property="bViewcount"/>
		<result column="rownum" property="ROWNUM"/>
		<result column="b_group" property="bGroup"/>
		<result column="b_order" property="bOrder"/>
		<result column="b_depth" property="bDepth"/>
		<association  property="user" resultMap="User"/>
	</resultMap>




	<!-- 게시글 수  -->
	<select id="boardCount" resultType="int">
    	 SELECT			 COUNT(*) count 
    	 FROM 				lc_board
	  	<include refid="Search"></include>
	</select> 



	<!-- 게시판 상세보기  -->
	<select id="boardDetail" resultMap="boardResultMap" parameterType="Board">
		select
					 	  ta.*,
			              tb.u_id ,
			              tb.u_name,
			              tb.u_idx 
		from lc_board ta 
		left join lc_user tb on ta.u_idx= tb.u_idx 
		where b_id=#{bId}	  	      

	  </select>



	<!-- 게시판 등록하기  -->
	<insert id="insertProcess"  parameterType="Board">
	  	      
		insert into lc_board( b_title, b_content,  b_viewcount ,u_idx, b_group, b_order, b_depth)
		VALUES(#{bTitle}, #{bContent},  #{bViewcount}, #{uIdx} , #{bGroup}, #{bOrder}, #{bDepth})
		  	<selectKey keyProperty="bId" resultType="int" order="AFTER">
	    		SELECT LAST_INSERT_ID()
	  		</selectKey>
	
	</insert>
	
	<update id="updateGroup"  parameterType="Board">
	
			UPDATE lc_board SET b_group = last_insert_id()  
			WHERE b_id = last_insert_id()
  	</update>
	
	
	
	
	<!-- 게시판 불러오기  -->
	<select id="editBoard" resultType="Board" parameterType="Board">
		select
					 	  b_id as bId,
			              b_title as bTitle,
			              b_content as bContent,
			              b_writer as bWriter,
			              b_datetime as bDatetime,
			              b_viewcount as bViewcount
			              
		from lc_board 
		where b_id=#{bId}	  	      

	  </select>

	<!-- 게시판 수정작업  -->
	<update id="editProcessBoard"  parameterType="Board">
		UPDATE lc_board 
		SET b_title = #{bTitle} , b_content = #{bContent} , b_datetime = now()
		WHERE b_id = #{bId}

	  </update>
	  
	  
	  
	<!-- 게시판 삭제하기  -->
	<delete id="boardDelete" parameterType="Board" >
		DELETE from lc_board 
		WHERE b_id = #{bId}

	  </delete>

	<!-- 게시판 조회수 증가  -->
	<update id="boardViewCount"  parameterType="Board">
		UPDATE lc_board SET b_viewcount = b_viewcount+1  
		WHERE b_id = #{bId}

	  </update>

	<!-- 게시판 리스트  -->
	<select id="selectBoardList" parameterType="Board" resultMap="boardResultMap" >
	  	      
	      SELECT                   @ROWNUM := @ROWNUM -1 AS ROWNUM,
	                     ta.*, tb.u_id, tb.u_name, tb.u_idx
				                 
		  FROM	                 lc_board ta
			  
		  LEFT JOIN 		     lc_user tb ON ta.u_idx = tb.u_idx, 
	               		 (SELECT @rownum := (SELECT COUNT(*)-#{pageNum}+1 FROM lc_board ta))tc
 		 <include refid="Search"></include> 
		  LIMIT	          		 #{pageNum},5

	   </select>


</mapper>